.container
  .row.spacing
    .col-md-2
    .col-md-8.hero-text
      burt &co.
    .col-md-2
  .row
    .col-md-2
    .col-md-8.image
      .row
        .pointer
          %p#point-left
            <
        %img#main-img{"src" => "/images/bbbbbb.JPG"}
        .pointer
          %p#point-right
            >
      .row
        .comment-box
          = form_for @comment, remote: true, html: {class: "form-group"} do |f|
            =f.text_area :content, class: "form-control", rows: 3, placeholder: "leave a message for burt &co."
            =f.submit "POST MESSAGE", class: "btn", id: "comment-submit"
      .row
        %ul.comments-list
          = render @comments
    .col-md-2