.container
  .row.spacing
    .col-md-2
    .col-md-8.hero-text
      burt &co.
    .col-md-2
  .row
    .col-md-2
    .col-md-8.image
      .row
        .pointer
          %p#point-left
            <
        %img#main-img{"src" => "/images/bbbbbb.JPG"}
        .pointer
          %p#point-right
            >
      .row
        %form.comment-box{"role" => "form"}
          .form-group
            %textarea.form-control{"type" => "email", "rows" => 3, "placeholder" => "Leave a comment for Burt &co."}
          %button.btn{"type" => "submit"} POST COMMENT
    .col-md-2