html, body {
  background: -webkit-linear-gradient(#F0F0F0, #3333CC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F0F0F0, #3333CC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F0F0F0, #3333CC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F0F0F0, #3333CC); /* Standard syntax */
  height: 100%;
}

.spacing {

}

.hero-text {
  font-size: 700%;
  font-family: monospace;
  line-height: 80%;
  letter-spacing: 0.05em;
  padding: 5% 0;
}

.image {
  img {
    width: 70%;
    float: left;
  }

  .pointer {
    width: 15%;
    padding-top: 15%;
    float: left;
    text-align: center;
    font-size: 36pt;

    p {
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.comment-box {
  padding: 2.5% 2.5%;

  .btn {
    width: 100%;
  }
}